<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zippy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:background="@android:color/white"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zippy"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.attendance.AttendanceDetailsActivity" />
        <activity android:name=".ui.setting.SettingsActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.course.CourseEnrollActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.course.CourseCreationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.attendance.AttendanceTakingActivity" />
        <activity android:name=".ui.profile.StudentProfileActivity" />
        <activity android:name=".ui.profile.InstructorProfileActivity" />
        <activity android:name=".ui.change.ChangeProfilePictureActivity" />
        <activity
            android:name=".ui.register.RegisterStudentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.RegisterInstructorActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.register.ChooseAccountTypeActivity" />
        <activity android:name=".ui.extras.SplashActivity" />
        <activity android:name=".ui.course.CourseEvaluationActivity" />
        <activity android:name=".ui.course.StudentDetailsActivity" />
        <activity android:name=".ui.course.CourseDetailsActivity" />
        <activity android:name=".ui.extras.AboutActivity" />
        <activity
            android:name=".ui.test.TestCreationActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>